@font-face {
    font-family: 'icomoon';
    src: url("./fonts/icomoon.eot?qgcyys");
    src: url("./fonts/icomoon.eot?qgcyys#iefix") format('embedded-opentype'),
        url("./fonts/icomoon.ttf?qgcyys") format('truetype'),
        url("./fonts/icomoon.woff?qgcyys") format('woff'),
        url("./fonts/icomoon.svg?qgcyys#icomoon") format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zanwudingdan01:before {
  content: "\e651";
}
.icon-qr:before {
  content: "\e600";
}
.icon-cancel:before {
  content: "\e601";
}
.icon-add:before {
  content: "\e602";
}
.icon-reduce:before {
  content: "\e603";
}
.icon-clock:before {
  content: "\e604";
}
.icon-search:before {
  content: "\e605";
}
.icon-circle:before {
  content: "\e606";
}
.icon-right-circle:before {
  content: "\e607";
}
.icon-cart-bag:before {
  content: "\e608";
}
.icon-bag-one:before {
  content: "\e609";
}
.icon-bag-two:before {
  content: "\e60a";
}
.icon-avatar-one:before {
  content: "\e60b";
}
.icon-avatar-two:before {
  content: "\e60c";
}
.icon-broadcast:before {
  content: "\e60d";
}
.icon-cart:before {
  content: "\e60f";
}
.icon-home-one:before {
  content: "\e610";
}
.icon-home-two:before {
  content: "\e611";
}
.icon-dialogue:before {
  content: "\e612";
}
.icon-order-two:before {
  content: "\e613";
}
.icon-order-one:before {
  content: "\e614";
}
.icon-right:before {
  content: "\e615";
}
.icon-error:before {
  content: "\e616";
}
.icon-weep:before {
  content: "\e617";
}
.icon-wallet-a:before {
  content: "\e618";
}
.icon-wallet-b:before {
  content: "\e619";
}
.icon-order-a:before {
  content: "\e61a";
}
.icon-wallet-c:before {
  content: "\e61b";
}
.icon-wallet-d:before {
  content: "\e61c";
}
.icon-wallet-e:before {
  content: "\e61d";
}
.icon-picture:before {
  content: "\e61e";
}
.icon-shop:before {
  content: "\e61f";
}
.icon-group:before {
  content: "\e620";
}
.icon-add-b:before {
  content: "\e621";
}
.icon-message:before {
  content: "\e622";
}
.icon-tuzuu:before {
  content: "\e623";
}
.icon-avatar-add:before {
  content: "\e624";
}
.icon-time:before {
  content: "\e625";
}
.icon-more-a:before {
  content: "\e626";
}
.icon-notice:before {
  content: "\e627";
}
.icon-alipay:before {
  content: "\e628";
}
.icon-highlight:before {
  content: "\e629";
}
.icon-question:before {
  content: "\e62a";
}
.icon-me:before {
  content: "\e62d";
}
.icon-tuzuu-b:before {
  content: "\e62e";
}
.icon-message-b:before {
  content: "\e631";
}
.icon-time-b:before {
  content: "\e632";
}
.icon-shop-b:before {
  content: "\e633";
}
.icon-book-a:before {
  content: "\e634";
}
.icon-map-a:before {
  content: "\e635";
}
.icon-avatar-three:before {
  content: "\e637";
}
.icon-order-three:before {
  content: "\e638";
}
.icon-tixing:before {
  content: "\e63d";
}
.icon-yuan:before {
  content: "\e63f";
}
.icon-dialogue-circle:before {
  content: "\e640";
}
.icon-arrow-down-circle:before {
  content: "\e641";
}
.icon-arrow-up-circle:before {
  content: "\e642";
}
.icon-del:before {
  content: "\e645";
}
.icon-shop-cart:before {
  content: "\e647";
}
.icon-zhaoxiangji:before {
  content: "\e64c";
}
.icon-dongjiemingxi:before {
  content: "\e64e";
}
.icon-tel-b:before {
  content: "\e64f";
}
.icon-service:before {
  content: "\e650";
}
.icon-transport:before {
  content: "\e671";
}
.icon-ops:before {
  content: "\e673";
}
.icon-search-b:before {
  content: "\e674";
}
.icon-jian:before {
  content: "\e68f";
}
.icon-dialogue-square:before {
  content: "\e691";
}
.icon-qiehuanchangjing:before {
  content: "\e6a0";
}
.icon-shenfenzheng:before {
  content: "\e6a4";
}
.icon-chevron-down:before {
  content: "\f123";
}
.icon-chevron-left:before {
  content: "\f124";
}
.icon-chevron-right:before {
  content: "\f125";
}
.icon-chevron-up:before {
  content: "\f126";
}
.icon-caret-down:before {
  content: "\f35f";
}
.icon-android-arrow-dropleft:before {
  content: "\f361";
}
.icon-android-arrow-dropright:before {
  content: "\f363";
}
.icon-caret-up:before {
  content: "\f365";
}
.icon-arrow-left:before {
  content: "\f3cf";
}
.icon-ios-arrow-down:before {
  content: "\f3d0";
}
.icon-arrow-right:before {
  content: "\f3d1";
}
.icon-ios-arrow-left:before {
  content: "\f3d2";
}
.icon-ios-arrow-right:before {
  content: "\f3d3";
}
.icon-ios-arrow-up:before {
  content: "\f3d8";
}